@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-iniciar-sesion{
    width: 400px;
    background: #0b4680;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.form-iniciar-sesion h2{
    font-size: 22px;
    margin-bottom: 20px;
}

.text {
    width: 100%;
    background: #0b4680;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    
}